<!DOCTYPE html>
<html lang="lv" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/layout-admin :: head}"></th:block>
<body>
	<th:block th:replace="~{fragments/layout-admin :: header}"></th:block>

	<h1 class="text-center">Edit News</h1>

	<form action="#" th:action="@{/admin/news/save?id=__${id}__}" th:object="${newsArticle}" th:method="post" enctype="multipart/form-data"   >

		<div class="form mx-4">
			<div class="mb-2">
				<p>Select existing news</p>
				<select class="form-select" aria-label="Default select example" onchange="changeId(this.value)">
					<option value="0">--- Create new News ---</option>
					<option th:each="news : ${newsArticles}" th:value="${news.newsArticleId}" th:text="${news.title}"
						th:selected="${news.newsArticleId} == ${id}"></option>
				</select>
			</div>

			<div class="my-5"></div>

			<div class="mb-2">
				<label class="form-label mx-2">ID</label>
				<input class="form-control" type="text" th:value="${id}" disabled/> 
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Language*</label>
				<select class="form-select" aria-label="Default select example" th:field="*{language}">
					<option th:each="lang : ${languages}" th:value="${lang.languageId}" th:text="${lang.name}"
						th:selected="${newsArticle.language != null} and ${lang.languageId} == ${newsArticle.language.languageId}"></option>
				</select>
				<p th:if="${#fields.hasErrors('language')}" th:errors="*{language}"  ></p>
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Title*</label>
				<input class="form-control" type="text" th:field="*{title}"  /> 
				<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"  ></p>
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Short Intro</label>
				<input class="form-control" type="text" th:field="*{shortIntro}"  /> 
				<p th:if="${#fields.hasErrors('shortIntro')}" th:errors="*{shortIntro}"  ></p>
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Text content*</label>
				<textarea class="form-control" type="text" th:field="*{text}" rows="10"  /> 
				<p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"  ></p>
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Image</label>
				<input name="upload-image" class="form-control" type="file"  /> 
				<p th:if="${#fields.hasErrors('image')}" th:errors="*{image}"  ></p>
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Youtube video link</label>
				<input class="form-control" type="text" th:field="*{youtubeVideo}"  /> 
				<p th:if="${#fields.hasErrors('youtubeVideo')}" th:errors="*{youtubeVideo}"  ></p>
			</div>

			<div>
				<button class=" btn btn-primary mt-2 w-100" type="submit" title="Save">Save</button>
			</div>
		</div>
	</form>

	<form action="#" th:action="@{/admin/news/delete?id=__${id}__}" th:object="${newsArticle}" th:method="post"  >
		<div class="form mx-4">
			<div>
				<button class=" btn btn-danger mt-2 w-100" type="submit" title="Delete">Delete</button>
			</div>
		</div>
	</form>
</body>
</html>
