<!DOCTYPE html>
<html lang="lv" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/layout-admin :: head}"></th:block>
<body>
	<th:block th:replace="~{fragments/layout-admin :: header}"></th:block>

	<h1 class="text-center">User Messages received</h1>

	<form action="#" th:object="${message}" th:method="post"  >

		<div class="form mx-4">
			<div class="mb-2">
				<p>Select message:</p>
				<select class="form-select" aria-label="Default select example" onchange="changeId(this.value)">
					<option value="0">--- Select message ---</option>
					<option th:each="mes : ${messages}" th:value="${mes.contactUsId}"
						th:text="${mes.contactUsId} + ' - ' + ${mes.name} + ' - ' + ${mes.email}"
						th:selected="${mes.contactUsId} == ${id}"></option>
				</select>
			</div>

			<div class="my-5"></div>

			<div class="mb-2">
				<label class="form-label mx-2">ID</label>
				<input class="form-control" type="text" th:value="${id}" disabled/> 
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Name</label>
				<input class="form-control" type="text" th:field="*{name}" disabled /> 
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  ></p>
			</div>
			
			<div class="mb-2">
				<label class="form-label mx-2">Email</label>
				<input class="form-control" type="text" th:field="*{email}" disabled /> 
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  ></p>
			</div>
			<div class="mb-2">
				<label class="form-label mx-2">Message</label>
				<textarea class="form-control" type="text" th:field="*{message}" rows="10"  disabled/> 
				<p th:if="${#fields.hasErrors('message')}" th:errors="*{message}"  ></p>
			</div>
		</div>
	</form>

	<form action="#" th:action="@{/admin/contact-us/delete?id=__${id}__}" th:object="${message}" th:method="post"  >
		<div class="form mx-4">
			<div>
				<button class=" btn btn-danger mt-2 w-100" type="submit" title="Delete">Delete</button>
			</div>
		</div>
	</form>
</body>
</html>
