<!DOCTYPE html>
<html lang="lv" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/layout-admin :: head}"></th:block>
<body>
	<th:block th:replace="~{fragments/layout-admin :: header}"></th:block>

	<h1 class="text-center">Edit languages</h1>

	<form action="#" th:action="@{/admin/languages/save?id=__${id}__}" th:object="${language}" th:method="post"  >

		<div class="form mx-4">
			<div class="mb-2">
				<p>Select existing language</p>
				<select class="form-select" aria-label="Default select example" onchange="changeId(this.value)">
					<option th:each="lang : ${languages}" th:value="${lang.languageId}" th:text="${lang.name}"></option>
				</select>
			</div>

			<div class="my-5"></div>

			<div class="mb-2">
				<label class="form-label mx-2">Name</label>
				<input class="form-control" type="text" th:field="*{name}"  /> 
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  ></p>
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Language code (en, lv, etc.)</label>
				 <input class="form-control" type="text" th:field="*{languageCode}"  />  
				<p th:if="${#fields.hasErrors('languageCode')}" th:errors="*{languageCode}"  ></p>
			</div>

			<div>
				<button class=" btn btn-primary mt-2" type="submit" title="Save">Save</button>
			</div>
		</div>
	</form>

	<form action="#" th:action="@{/admin/languages/delete?id=__${id}__}" th:object="${language}" th:method="post"  >
		<div class="form mx-4">
			<div>
				<button class=" btn btn-danger mt-2" type="submit" title="Delete">Delete</button>
			</div>
		</div>
	</form>
</body>
</html>
