<!DOCTYPE html>
<html lang="lv" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/layout-admin :: head}"></th:block>
<body>
	<th:block th:replace="~{fragments/layout-admin :: header}"></th:block>

	<h1 class="text-center">Edit administrators</h1>

	<form action="#" th:action="@{/admin/administrators/save?id=__${id}__}" th:object="${admin}" th:method="post"  >

		<div class="form mx-4">
			<div class="mb-2">
				<p>Select existing administrator</p>
				<select class="form-select" aria-label="Default select example" onchange="changeId(this.value)">
					<option value="0">--- Create new administrator ---</option>
					<option th:each="adm : ${admins}" th:value="${adm.id}" th:text="${adm.username}"
						th:selected="${adm.id} == ${id}"></option>
				</select>
			</div>

			<div class="my-5"></div>

			<div class="mb-2">
				<label class="form-label mx-2">ID</label>
				<input class="form-control" type="text" th:value="${id}" disabled/> 
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Username</label>
				<input class="form-control" type="text" th:field="*{username}"  /> 
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"  ></p>
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Password</label>
				<input class="form-control" type="password" th:field="*{password}"  /> 
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"  ></p>
			</div>

			<div class="mb-2">
				<label class="form-label mx-2">Registration date</label>
				<input class="form-control" type="text" th:value="*{registationDate}" disabled/> 
			</div>

			<div>
				<button class=" btn btn-primary mt-2 w-100" type="submit" title="Save">Save</button>
			</div>
		</div>
	</form>

	<form action="#" th:action="@{/admin/administrators/delete?id=__${id}__}" th:object="${admin}" th:method="post"  >
		<div class="form mx-4">
			<div>
				<button class=" btn btn-danger mt-2 w-100" type="submit" title="Delete">Delete</button>
			</div>
		</div>
	</form>
</body>
</html>
