<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- using latest version of rendering engine-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Racobeu Partneri</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- relying on bootstrap files -->
	<link rel="stylesheet" href="/css/styles.css"> <!-- my own styles which will override bootstrap.min.css because of cascading -->
	<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head> 
<body>
	<header>		
	    <nav id="header-nav" class="navbar navbar-expand-lg">
			<div class="container">
	            <a class="navbar-brand" href="/">
	                <div id="logo-img" alt="Logo image"></div>
					<div class="ms-3">
						<h1>Racobeu</h1>
					</div>
	            </a>
	         
	            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable-nav" aria-controls="collapsable-nav" aria-expanded="false" aria-label="Toggle navigation">
	                <span class="navbar-toggler-icon"></span>
	            </button>

	            <div class="collapse navbar-collapse" id="collapsable-nav">
	                <ul id="nav-list" class="navbar-nav ms-auto">
	                    <!-- Dropdown for Racobeu -->
	                    <li class="nav-item dropdown">
	                        <a class="nav-link dropdown-toggle" href="/racobeu/selectRacobeu" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span th:text="#{about.racobeu}"></span>
	                        </a>
	                        <!-- Use dropdown-menu class for the dropdown -->
	                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	                            <li><a class="dropdown-item" href="racobeuPartneri" th:text="#{racobeu.partners}"></a></li>
	                            <li><a class="dropdown-item" href="narvarre" th:text="#{racobeu.narvarre}"></a></li>
	                            <li><a class="dropdown-item" href="ventspils" th:text="#{racobeu.ventspils}"></a></li>
				    			<li><a class="dropdown-item" href="adama" th:text="#{racobeu.adama}"></a></li>
	         		    		<li><a class="dropdown-item" href="irubide" th:text="#{racobeu.irubide}"></a></li>
				    			<li><a class="dropdown-item" href="spark" th:text="#{racobeu.spark}"></a></li>
				    			<li><a class="dropdown-item" href="vidusskola" th:text="#{racobeu.vidusskola}"></a></li>
	                        </ul>
	                    </li>

	                    <!-- Departments Dropdown -->
	                    <li class="nav-item dropdown">
	                        <a class="nav-link dropdown-toggle" href="#" id="departmentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                            <span th:text="#{racobeu.departments}"></span>
	                        </a>
	                        <ul class="dropdown-menu" aria-labelledby="departmentsDropdown">
	                            <li><a class="dropdown-item" href="#"></a></li>
	                            <li><a class="dropdown-item" href="#"></a></li>
	                            <li><a class="dropdown-item" href="#"></a></li>
	                        </ul>
	                    </li>

	                    <!-- Scientific Research Dropdown -->
	                    <li class="nav-item dropdown">
	                        <a class="nav-link dropdown-toggle" href="#" id="ScientificResearchDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span th:text="#{racobeu.research}"></span>
	                        </a>
	                        <ul class="dropdown-menu" aria-labelledby="ScientificResearchDropdown">
	                            <li><a class="dropdown-item" href="#"></a></li>
	                            <li><a class="dropdown-item" href="#"></a></li>
	                            <li><a class="dropdown-item" href="#"></a></li>
	                        </ul>
	                    </li>

	                    <!-- Radiotelescopes Dropdown -->
	                    <li class="nav-item dropdown">
	                        <a class="nav-link dropdown-toggle" href="#" id="radiotelescopesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                            <span th:text="#{racobeu.radiotelescopes}"></span>
	                        </a>
	                        <ul class="dropdown-menu" aria-labelledby="radiotelescopesDropdown">
	                            <li><a class="dropdown-item" href="#"></a></li>
	                            <li><a class="dropdown-item" href="#"></a></li>
	                            <li><a class="dropdown-item" href="#"></a></li>
	                        </ul>
	                    </li>

	                    <!-- RadioAstronomy Institutions Dropdown -->
	                    <li class="nav-item dropdown">
	                        <a class="nav-link dropdown-toggle" href="#" id="RadioAstronomyInstitutionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                            <span th:text="#{racobeu.institutions}"></span>
	                        </a>
	                        <ul class="dropdown-menu" aria-labelledby="RadioAstronomyInstitutionsDropdown">
	                            <li><a class="dropdown-item" href="#"></a></li>
	                            <li><a class="dropdown-item" href="#"></a></li>
	                            <li><a class="dropdown-item" href="#"></a></li>
	                        </ul>
	                    </li>

	                    <!-- Events Dropdown -->
	                    <li class="nav-item dropdown">
	                        <a class="nav-link dropdown-toggle" href="#" id="EventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                            <span th:text="#{racobeu.events}"></span>
	                        </a>
	                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="EventsDropdown">
	                            <li><a class="dropdown-item" href="#"></a></li>
	                            <li><a class="dropdown-item" href="#"></a></li>
	                            <li><a class="dropdown-item" href="#"></a></li>
	                        </ul>
	                    </li>
						<li class="nav-item lang-button-container float-right">
						    <button type='button' id='lv-lang' onclick='changeLang("lv")'>LV</button>
						</li>
						<li class='nav-item lang-button-container float-right'>
							<button type='button' id='en-lang' onclick='changeLang("en")'>EN</button> 
						</li>
						<li class="nav-item lang-button-container float-right">
			            	<button type='button' id='lv-lang' onclick='changeLang("pl")'>PL</button>
						</li>
						<li class="nav-item lang-button-container float-right">
			            	<button type='button' id='lv-lang' onclick='changeLang("es")'>ES</button>
						</li>					
	                
					</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<div class="container narvarre-section">
					    
					<h1>Navarras publiskā universitāte</h1>
					
					<hr class="custom-separator-narvarre">
					        
					<p>1987. gadā Navarras parlaments apstiprināja Navarras publiskas universitātes (UPNA) izveidi Pamplonā un Tudelā, Spānijā.
					2023.-2024.mācību gadā UPNA studēja 10161 students. UPNA piedāvā 27 bakalaura, 36 maģistra un 16 doktora programmas.
					RACOBEU projektā UPNA pārstāv Silvija Diaza Lūkasa. Pašlaik viņa ir pilntiesīga profesore Navarras Publiskās universitātes
					Elektrotehnikas, elektronikas un sakaru inženierijas katedrā un pasniedz priekšmetus elektronikas un projektu jomā.
					Silvija Diaza Lūkasa 2002. gadā ieguva telekomunikāciju inženieres titulu un 2007. gadā doktora grādu Navarras publiskajā
					universitātē. 2003. un 2004. gadā viņa veica pirmsdoktorantūras pētījumus Kantabrijas Universitātes Santanderas Fotonikas grupā,
					strādājot pie signālu apstrādes ar optisko šķiedru sensoru tīkliem. 2006. gadā viņa pabeidza pirmsdoktorantūras studijas Lozannas
					federālā politehniskajā skolā (École Polytéchnique Fédérale de Lausanne), Šveicē, pētot dažādas procedūras un stratēģijas, lai paplašinātu
					izplatītā Brillouin sensora darbības diapazonu. 2009. gadā viņš pabeidza pēcdoktorantūras studijas Batas Universitātes Fotonikas un fotonisko
					materiālu centrā, Apvienotajā Karalistē, lai izstrādātu lāzerus un pastiprinātas fotonisko kristālšķiedru struktūras, izmantojot sadalītu
					pastiprināšanu. Viņai ir vairāk nekā 70 publikāciju autore žurnālos un konferencēs, gan valsts, gan starptautiskā līmenī, kas saistītas ar 
					optisko šķiedru tīkliem, lāzeriem un sensoriem. Kopš 2002. gada viņš veic pētniecisko darbu Navarras Publiskās universitātes Elektrotehnikas,
					elektronisko un sakaru inženierijas katedras Optisko sakaru un elektronisko lietojumprogrammu grupā.
					</p>
					
		</div>
	
	
	<footer class="panel-footer">
		    <div class="container">
		        <div class="row">
		            <section id="hours" class="col-sm-4 col-md-4 col-lg-4">
		               <span>Partners</span><br>
					   <img id="European" src="/images/erasmus.png" alt="Pictures of Racobeu" class="img-fluid">
		            </section>
		            <section id="address" class="col-sm-4 col-md-4 col-lg-4">
						<span>Instagram</span><br>
						 <a href="https://www.instagram.com/racobeu/?locale=zh-TW&hl=am-et" target="_blank">
						 <img id="Instagram" src="/images/instagram.jpg" alt="Pictures of Racobeu" class="img-fluid">
						 </a>
					</section>
		            <section id="testimonials" class="col-sm-4 col-md-4 col-lg-4">
					   <span>Participants</span><br>
						<img id="upna" src="/images/upna.jpg" alt="Pictures of Racobeu" class="img-fluid">
						<img id="upna" src="/images/vuas.png" alt="Pictures of Racobeu" class="img-fluid">
						<img id="upna" src="/images/poznan.png" alt="Pictures of Racobeu" class="img-fluid">
								
		   	        </section>
		        </div>
		        <div class="text-center mt-auto">&copy; RACOBEU Project. All rights reserved.</div>
		    </div>    
	</footer>

<!-- Include Bootstrap JS (optional) -->
<!-- jQuery (Bootstrap JS plugins depend on it) -->
<script src="/js/jquery-2.2.4.min.js"></script> <!-- jQuery before Bootstrap because Bootstrap's JavaScript components rely on jQuery to function properly -->
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/script.js"></script> <!-- my own created file -->
</body>
</html>
