<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- using latest version of rendering engine-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Racobeu</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- relying on bootstrap files -->
	<link rel="stylesheet" href="/css/styles.css"> <!-- my own styles which will override bootstrap.min.css because of cascading -->
	<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head> 
<body>
	<header>
    <nav id="header-nav" class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="/">
                <div id="logo-img" alt="Logo image"></div>
				<div class="ms-3">
					<h1>Racobeu</h1>
				</div>
            </a>
         
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable-nav" aria-controls="collapsable-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsable-nav">
                <ul id="nav-list" class="navbar-nav ms-auto">
                    <!-- Dropdown for Racobeu -->
                    <li class="nav-item">
                        <a class="nav-link" href="/racobeu/selectRacobeu" id="navbarDropdown" role="button" aria-expanded="false">
                            Par Racobeu
                        </a>
                        <!-- Use dropdown-menu class for the dropdown -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="racobeu/racobeuPartneri">Racobeu partneri</a></li>
                            <li><a class="dropdown-item" href="#">Navarras publiskā universitāte</a></li>
                            <li><a class="dropdown-item" href="#">Ventspils Augstskola</a></li>
							<li><a class="dropdown-item" href="#">Ādama Mickeviča universitāte</a></li>
							<li><a class="dropdown-item" href="#">Vidusskola Padre Moret – Irubide</a></li>
							<li><a class="dropdown-item" href="#">Vidusskola Spark Academy</a></li>
							<li><a class="dropdown-item" href="#">Ventspils 2. vidusskola</a></li>
                        </ul>
                    </li>

                    <!-- Departments Dropdown -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="departmentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Departments
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="departmentsDropdown">
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>

                    <!-- Scientific Research Dropdown -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="ScientificResearchDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Scientific Research
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="ScientificResearchDropdown">
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>

                    <!-- Radiotelescopes Dropdown -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="radiotelescopesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Radiotelescopes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="radiotelescopesDropdown">
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>

                    <!-- RadioAstronomy Institutions Dropdown -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="RadioAstronomyInstitutionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            RadioAstronomy Institutions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="RadioAstronomyInstitutionsDropdown">
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>

                    <!-- Events Dropdown -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="EventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Events
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="EventsDropdown">
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	</header>
	<div class="main-content">
	<section class="row">
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
			<div class="category-container">
				<a href="">
	          <div class="category-tile">
	            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
	            <span></span>
	          </div>
			  <div class="tile-text">Studentu un skolēnu konference RACOBEU projekta ietvaros</div>
			  </div>
	          </a>
	      </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Comet Interceptor kosmosa misija</div>
					  </div>
			          </a>
	      </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
				</div>
	    </section>
	</div>
	

	<footer class="panel-footer">
		    <div class="container">
		        <div class="row">
		            <section id="hours" class="col-sm-4 col-md-4 col-lg-4">
		               <span>Partners</span><br>
					   <img id="European" src="/images/erasmus.png" alt="Pictures of Racobeu" class="img-fluid">
		            </section>
		            <section id="address" class="col-sm-4 col-md-4 col-lg-4">
						<span>Instagram</span><br>
						 <a href="https://www.instagram.com/racobeu/?locale=zh-TW&hl=am-et" target="_blank">
						 <img id="Instagram" src="/images/instagram.jpg" alt="Pictures of Racobeu" class="img-fluid">
						 </a>
					</section>
		            <section id="testimonials" class="col-sm-4 col-md-4 col-lg-4">
					   <span>Participants</span><br>
						<img id="upna" src="/images/upna.jpg" alt="Pictures of Racobeu" class="img-fluid">
						<img id="upna" src="/images/vuas.png" alt="Pictures of Racobeu" class="img-fluid">
						<img id="upna" src="/images/poznan.png" alt="Pictures of Racobeu" class="img-fluid">
						
		   	        </section>
		        </div>
		        <div class="text-center mt-auto">&copy; RACOBEU Project. All rights reserved.</div>
		    </div>    
		</footer>		

	    <!-- Include Bootstrap JS (optional) -->
		<!-- jQuery (Bootstrap JS plugins depend on it) -->
		<script src="/js/jquery-2.2.4.min.js"></script> <!-- jQuery before Bootstrap because Bootstrap's JavaScript components rely on jQuery to function properly -->
		<script src="/js/bootstrap.min.js"></script> 
		<script src="/js/script.js"></script> <!-- my own created file -->
</body>
</html>

	
	
