
<head th:fragment="head">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- using latest version of rendering engine-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Racobeu</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- relying on bootstrap files -->
	<link rel="stylesheet" href="/css/styles.css"> <!-- my own styles which will override bootstrap.min.css because of cascading -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<script src="/js/jquery-2.2.4.min.js"></script> <!-- jQuery before Bootstrap because Bootstrap's JavaScript components rely on jQuery to function properly -->
	<script src="/js/bootstrap.min.js"></script> 
	<script src="/js/script.js"></script> <!-- my own created file -->
</head>

<header th:fragment="header">		
<nav id="header-nav" class="navbar navbar-expand-lg">
		<a class="navbar-brand" href="/">
			<div class="ms-3">
				<h1>Racobeu</h1>
			</div>
		</a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable-nav" aria-controls="collapsable-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- page navigation bar -->
		<div class="collapse navbar-collapse mx-4" id="collapsable-nav">
			<ul id="nav-list" class="navbar-nav ms-auto fs-6">
				<!-- static link to news -->
				<li class="nav-item dropdown">
					<a class="nav-link" href="/news" role="button" th:text="#{racobeu.news}">
						News
					</a>
				</li>
				<!-- create dropdown for each dynamic (database) category -->
				<li th:each="category: ${categories}" class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span th:text="${category.title}"></span>
					</a>
					<!-- create dropdown sections for each category -->
					<div class="dropdown-menu">
					<div th:each="section: ${category.getSections()}" >
						<a class="dropdown-item" th:href="'/section/' + ${section.getSectionId()}" th:text="${section.getTitle()}">Section</a>
					</div>
					</div>
				</li>

				<!-- language switcher buttons -->
				<div class="flex d-flex flex-row gap-1">
						<button class="btn btn-language" type='button' id='lv-lang' onclick='changeLang("lv")'>LV</button>
						<button class="btn btn-language" type='button' id='en-lang' onclick='changeLang("en")'>EN</button> 
						<button class="btn btn-language" type='button' id='lv-lang' onclick='changeLang("pl")'>PL</button>
						<button class="btn btn-language" type='button' id='lv-lang' onclick='changeLang("es")'>ES</button>
				</div>					
			</ul>
			</div>
	</nav>
</header>

<footer th:fragment="footer" class="panel-footer mt-auto">
	<div class="container mt-2">
		<div class="row">
			<section id="hours" class="col-sm-2">
			   <span th:text="#{racobeu.partners}"></span><br>
			   <img width="200" src="/images/erasmus.png" alt="Pictures of Racobeu">
			</section>
			<section id="testimonials" class="col-sm-9">
			   <span th:text="#{racobeu.participants}"></span><br>
			   <img width="160" src="/images/vuas.png" alt="Ventspils University of Applied Sciences">
				<img width="140" src="/images/upna.png" alt="UPNA">
				<img width="120" src="/images/poznan.png" alt="Poznan University">
				<img width="110" src="/images/logo_irubide_1.jpg" alt="PADRE MORET IRUBIDE high school">
				<img width="110" src="/images/spark.png" alt="Spark Academy">
				<img width="100" src="/images/ventspils-2vsk.png" alt="Ventspils 2. vidusskola">
			</section>
			<section id="address" class="col-sm-1">
				<span th:text="#{racobeu.instagram}"></span><br>
				 <a href="https://www.instagram.com/racobeu/" target="_blank">
				 <img width="60" src="/images/instagram.png" alt="Pictures of Racobeu">
				 </a>
			</section>
		</div>
		<div class="text-center mt-2 mb-2 d-flex justify-content-center gap-4">
			<a class="text-black" href="/contact-us" th:text="#{racobeu.contact-us.title}"></a>
			<div th:text="'&copy; ' + #{racobeu.copyright}"></div>
		</div>
	</div>    
</footer>
