body {
  font-size: 16px;
  color: #111111;
  background-color: #f1f0ef;
  font-family: "Sansation", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	/*outline: 1px solid red;*/
}

.navbar {
  background-color: #007bff; /* Slightly blue color */
}

.navbar .nav-link {
  color: white !important; /* White text for navigation links */
}

.navbar .nav-link:hover {
  color: #d4d4d4 !important; /* Slightly lighter color on hover */
}

.navbar .btn-language {
  color: #25284e;
  font-weight: bold;
  border-color: #25284e;
  background-color: #6c7ff8;
}
/*
.logo {
  height: 40px; 
  width: auto;
}*/

/* Custom styling to show dropdown on hover */
.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  align-content: center;
  z-index: 1000;
  display: none; /* Default: hide the dropdown */
}
/*
.dropdown-menu.dropdown-menu-end {
  right: 0; 
  left: auto; 
}*/



/* Prevent the black dot (bullet points) from appearing in the dropdown menu */
.nav-item .dropdown-menu {
  list-style-type: none; /* Remove bullets */
  padding-left: 0; /* Remove any left padding */
  margin: 0; /* Remove margin that could cause unwanted spacing */
}

/* Ensure no margin or padding on dropdown items */
.nav-item .dropdown-item {
  padding: 10px 20px; /* Adjust padding for better readability */
}

/* Remove any default borders or outline */
.nav-item .dropdown-item:focus,.nav-item .dropdown-item:hover {
  background-color: #f8f9fa; /* Light background on hover */
  color: #007bff; /* Change text color on hover */
  text-decoration: none; /* Remove underline on hover */
}

/** HEADER **/
#header-nav {
  background-color: #343F63;
  border-radius: 0;
  border: 0;
  margin-bottom: 20px;
  /*  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;*/
}

.navbar-brand {
  align-items: center;
  display: flex;
  margin-left: 20px;
}

.navbar-brand h1 { /* Racobeu name */
  font-family: 'Space Mono', serif;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-toggler {
  margin-left: auto;
  border: 2px solid black;
}

#nav-list {
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 20px;
}

#nav-list a {
  color: black;
  text-align: left;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a {
  font-size: 1.11em;
}

#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}

#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

#menu-tile,#specials-tile,#map-tile {
  height: 300px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}

#menu-tile {
  background: url('../images/aboutUs1084x250.png') no-repeat;
  background-position: center;
  background-size: cover;
}

#specials-tile {
  background: url('../images/bilde.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron {
  background: url('../images/irbene.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  z-index: -10000;
  background-color: rgba(0, 0, 0, 0.3);
}

#phone > a {
  font-size: 1.5em;
  display: block;
  margin: 0 20px;
  padding: 10px;
  /*border: 2px solid #fff;*/
  background-color: #f6b319;
  color: #951c49;
  text-align: center;
}

#deliver {
  margin-top: 5px;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.panel-footer {
  background-color: #6c7ff8;
  font-family: sans-serif;
  color: #000000;
}

.container.narvarre-section {
    flex: 1;  /* This makes the content area expand, pushing the footer down */
}

.narvarre-section h1 {
	text-align: center;
}

.custom-separator-narvarre {
    width: 50%; 
	margin-left: auto !important;
	margin-right: auto !important;
}

/* -----------------------------------------------------------------------------------*/

container.ventspils-section {
    flex: 1;  /* This makes the content area expand, pushing the footer down */
}

.ventspils-section h1 {
	text-align: center;
}

.custom-separator-ventspils {
    width: 50%; 
	margin-left: auto !important;
	margin-right: auto !important;
}

/* -----------------------------------------------------------------------------------*/

container.adama-section {
    flex: 1;  /* This makes the content area expand, pushing the footer down */
}

.adama-section h1 {
	text-align: center;
}

.custom-separator-adama {
    width: 50%; 
	margin-left: auto !important;
	margin-right: auto !important;
}

/* -----------------------------------------------------------------------------------*/

/* Pushes the main content to take up space */
.main-content {
    flex-grow: 1;  /* Ensures it expands to push the footer down */
}

/* -----------------------------------------------------------------------------------*/

#European{
	
	height: 79px;
}

#Instagram{
	height: 144px;
}

#hours > span, #address > span, #testimonials > span{
  font-size: 1.3em;
}

#address p {
  color: #557c3e;
  font-size: 0.9em;
  line-height: 1.8;
  margin-top: 10px;
}



.category-tile {
  position: relative;
  border: 2px solid black;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}

.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}

.category-tile:hover {
  box-shadow: 0 9px 45px 9px #000000;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}

.menu-item-tile {
  margin-bottom: 25px;
}

.menu-item-tile hr {
  width: 80%;
}

/* we are looking for menu-item-price that inside menu-item-tile*/
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}

.menu-item-tile .menu-item-price span {
  font-size: 16px;
}

.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}

.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}

.menu-item-description {
  padding-right: 30px;
  font-size: 19px;
}

h3.menu-item-title {
  margin: 0 0 10px;
}

.menu-item-details {
  /*font-size: .9em;*/
  font-style: italic;
}

.menu-item-tile div {
  font-family: sans-serif;
}

.custom-separator {
    border: none; /* Remove default border */
    height: 1px; /* Set thickness of the line */
    background-color: black; /* Change color as needed */
}

/* Optional adjustments for width or alignment */
.custom-separator-about {
    width: 30%; 
	margin-left: auto !important;
	margin-right: auto !important;
}

.about-section h1 {
	text-align: center;
}


.category-container {
    text-align: center; /* Centers content horizontally */
}

.tile-text {
    font-size: 14px; /* Adjust font size as needed */
	margin-bottom: 15px;
}

.category-container a {
    text-decoration: none;
    color: #000;
}



html, body {
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.racobeu-title {
  font-family: 'Space Mono', serif;
  text-transform: uppercase;
}
