<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/layout :: head}"></th:block>
<body>
	<th:block th:replace="~{fragments/layout :: header}"></th:block>
		
	<div class="main-content">
		<div class="container adama-section">
					    
					<h1>Ādama Mickeviča universitāte</h1>
					
					<hr class="custom-separator-adama">
					        
					<p>Ādama Mickeviča universitāte (AMU) Poznaņā ir viens no labākajiem akadēmiskajiem centriem un pētniecības universitāte Polijā. Universitātē 
			 		strādā aptuveni 4000 akadēmiķu, un tajā ir vairāk nekā 40 000 studentu, kas mācās aptuveni 80 disciplīnās. AMU piedāvā izglītību klasiskajā
			 		astronomijā un astrofizikā, kā arī dziļākas zināšanas par jautājumiem, kas saistīti ar asteroīdu kustību un īpašībām. 3 gadu bakalaura studiju 
			 		laikā mūsu studenti papildus vispārējām astronomiskajām zināšanām apgūst praktiskās iemaņas astronomiskajos novērojumos, galvenokārt fotometriskajos
			 		un spektroskopiskajos. Viņi arī pabeidz padziļinātu kursu debess mehānikā, kas cita starpā nodarbojas ar debess ķermeņu trajektoriju noteikšanu un 
			 		prognozēšanu. AMU nodarbojas arī ar zvaigžņu astrofiziku, pēta galaktiku veidošanos, neitronu zvaigžņu un melno caurumu sadursmes un gravitācijas
			 		viļņu veidošanos.
			 		</p>
					
		</div>
	</div>
	
	<th:block th:replace="~{fragments/layout :: footer}"></th:block>
</body>
</html>
