<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/layout :: head}"></th:block>
<body>
	<th:block th:replace="~{fragments/layout :: header}"></th:block>
		
		<div class="container narvarre-section">
					    
					<h1>Navarras publiskā universitāte</h1>
					
					<hr class="custom-separator-narvarre">
					        
					<p>1987. gadā Navarras parlaments apstiprināja Navarras publiskas universitātes (UPNA) izveidi Pamplonā un Tudelā, Spānijā.
					2023.-2024.mācību gadā UPNA studēja 10161 students. UPNA piedāvā 27 bakalaura, 36 maģistra un 16 doktora programmas.
					RACOBEU projektā UPNA pārstāv Silvija Diaza Lūkasa. Pašlaik viņa ir pilntiesīga profesore Navarras Publiskās universitātes
					Elektrotehnikas, elektronikas un sakaru inženierijas katedrā un pasniedz priekšmetus elektronikas un projektu jomā.
					Silvija Diaza Lūkasa 2002. gadā ieguva telekomunikāciju inženieres titulu un 2007. gadā doktora grādu Navarras publiskajā
					universitātē. 2003. un 2004. gadā viņa veica pirmsdoktorantūras pētījumus Kantabrijas Universitātes Santanderas Fotonikas grupā,
					strādājot pie signālu apstrādes ar optisko šķiedru sensoru tīkliem. 2006. gadā viņa pabeidza pirmsdoktorantūras studijas Lozannas
					federālā politehniskajā skolā (École Polytéchnique Fédérale de Lausanne), Šveicē, pētot dažādas procedūras un stratēģijas, lai paplašinātu
					izplatītā Brillouin sensora darbības diapazonu. 2009. gadā viņš pabeidza pēcdoktorantūras studijas Batas Universitātes Fotonikas un fotonisko
					materiālu centrā, Apvienotajā Karalistē, lai izstrādātu lāzerus un pastiprinātas fotonisko kristālšķiedru struktūras, izmantojot sadalītu
					pastiprināšanu. Viņai ir vairāk nekā 70 publikāciju autore žurnālos un konferencēs, gan valsts, gan starptautiskā līmenī, kas saistītas ar 
					optisko šķiedru tīkliem, lāzeriem un sensoriem. Kopš 2002. gada viņš veic pētniecisko darbu Navarras Publiskās universitātes Elektrotehnikas,
					elektronisko un sakaru inženierijas katedras Optisko sakaru un elektronisko lietojumprogrammu grupā.
					</p>
					
		</div>
	
	
		<th:block th:replace="~{fragments/layout :: footer}"></th:block>
</body>
</html>
