<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/layout :: head}"></th:block>
<body>
	<th:block th:replace="~{fragments/layout :: header}"></th:block>

	<div class="main-content">
	<section class="row">
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
			<div class="category-container">
				<a href="">
	          <div class="category-tile">
	            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
	            <span></span>
	          </div>
			  <div class="tile-text">Studentu un skolēnu konference RACOBEU projekta ietvaros</div>
			  </div>
	          </a>
	      </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Comet Interceptor kosmosa misija</div>
					  </div>
			          </a>
	      </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
	      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
					<div class="category-container">
						<a href="">
			          <div class="category-tile">
			            <img width="200" height="200" src="/images/pictures320x228.jpg" alt="">
			            <span></span>
			          </div>
					  <div class="tile-text">Some Text Here</div>
					  </div>
			          </a>
					  </div>
				</div>
	    </section>
	</div>
	

	<th:block th:replace="~{fragments/layout :: footer}"></th:block>
</body>
</html>

	